.spoiler_block_content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.spoiler_block_content.show {
    display: block;
    opacity: 1;
}

button.spoiler-block-icon.spoiler-block-icon-zoom-in.spoiler_block_show {
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 1px 1px lightblue;
}
